@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --sidebar: 240 4.8% 95.9%;
    --sidebar-foreground: 240 5.9% 10%;
    --editor-bg: 0 0% 100%;
    --editor-fg: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --sidebar: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --editor-bg: 240 10% 3.9%;
    --editor-fg: 0 0% 98%;
  }
}

body {
  @apply bg-background text-foreground;
}
